# Nextflow working files
.nextflow/
.nextflow.log*
work/
results/

# Generated reports (keep in S3 only)
report.html
timeline.html
trace.txt
multiqc_report.html

# Nextflow cache
.nf-test/

# IDE
.vscode/
.idea/
